<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="text-center py-4"> <div class="mb-3">
      <img src="assets/hero-logo.png" alt="Logo" class="img-fluid" style="max-height: 200px;">
    </div>

    <h1 class="display-5 fw-bold text-primary">Hero Manager</h1>
    <p class="lead text-secondary mb-4 mx-auto" style="max-width: 600px;">
      Gerencie sua liga de heróis: cadastre novos justiceiros ou visualize os existentes.
    </p>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button class="btn btn-primary px-4" routerLink="/herois">
        <i class="bi bi-list-stars"></i> Listagem
      </button>
      <button class="btn btn-outline-secondary px-4" routerLink="/heroi/cadastro">
        <i class="bi bi-person-plus-fill"></i> Cadastrar
      </button>
    </div>

  </div>
</div>
