.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* O z-index deve ser maior que o do Modal do ngx-bootstrap (geralmente 1050) */
  z-index: 9999;
}
